@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!-- Форма для создания нового пользователя -->
@{
    ViewData["Title"] = "Create Page";
    Layout = "_Layout";
}
<div class="container mt-5">
    <h2 class="mb-4">Register</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
