@model WebApplication1.Models.Product

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Page";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="mb-4">Create Product</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input type="text" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
